# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    # first week of January 2025, officially from 30th December till 5th of January
    booking.allowed_start_date: '2024-12-30T00:00:00'
    booking.allowed_end_date: '2025-01-05T23:59:59'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    annotation_reader:
        class: Doctrine\Common\Annotations\AnnotationReader
        public: false

    App\Service\Install\InstallBookings:
        arguments:
            $jsonFilePath:  '%kernel.project_dir%/install-data/bookings.json'

    App\Service\Install\InstallMeetingRooms:
        arguments:
            $jsonFilePath:  '%kernel.project_dir%/install-data/meeting-rooms.json'

    App\EventListener\BookingValidationListener:
        arguments:
            $allowedStartDate: '%booking.allowed_start_date%'
            $allowedEndDate: '%booking.allowed_end_date%'